body {
    margin: 0;
}

.flex__container {
    display: flex;
    flex-direction: row-reverse;
}

.save__date {
    width: 33.333333vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
    color: white;
    background-color: rgb(205,52,41);
}

.save__date__text {
    margin: 50% auto;
    width: max-content;
}

.img__container {
    width: 66.666667vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

img {
    // height: 100vh;
    // position: absolute;
    // bottom: 2px;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // box-sizing: border-box;
    // max-width: 100%;
    // margin-bottom: 400px;
    // max-height: 100%;
    // height: 90vh;
    // width: 100%;
    height: auto;
    width: 100%;
}

@media only screen and (max-width: 575px) {
    .flex__container {
        flex-direction: column;
    }

    .save__date {
        height: auto;
    }

    .save__date, img__container {
        height: 50vw;
        width: 100vw;
    }

    .save__date__text {
        margin: 50% auto;
        width: min-content;
    }
}
